.ButtonClassWhite {
    background-color: #ffffff;
    border: 1px solid #0095ff;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;

    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.15385;

    outline: none;
    padding: 8px .8em;

    text-align: center;
    text-decoration: none;

}

.ButtonClassWhite:hover {
    background-color: #72bef5;
    color: #ffffff;
}

.ButtonClassBlue {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;

    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.15385;

    outline: none;
    padding: 8px .8em;

    text-align: center;
    text-decoration: none;

}

.ButtonClassBlue2 {
    background-color: #204bc4;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;

    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;

    text-align: center;
    text-decoration: none;


    vertical-align: baseline;
    white-space: nowrap;
}

.ButtonClassBlue2:hover {
    background-color: #72bef5;
    color: #ffffff;
}

.ButtonClassGreen {
    background-color: #1abe4b;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;

    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.15385;

    outline: none;
    padding: 8px .8em;

    text-align: center;
    text-decoration: none;

}

.ButtonClassGreen:hover {
    background-color: #437945;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {

    header {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .ButtonClassWhite input[type="radio"] {}

    .ButtonClassWhite input[type="radio"]:checked+label {
        background-color: #204bc4 !important;
        color: #fff !important;
    }

    .locationButtons {
        margin-bottom: 1.5em;
    }

    .orderButton {
        width: 200px;
        text-align: right;
        margin-bottom: 5px;
    }
}