body {
  width: 100%;
  margin: 0;
  margin-top: 0.4em;
  padding-bottom: 24px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #dddddd;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Navigation Buttons */

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

#nav1 {
  flex-grow: 1;
}

#nav2 {
  flex-grow: 1;
}

#nav3 {
  flex-grow: 1;
}

#nav4 {
  flex-grow: 1;
}

.NavButtonBlue {
  display: inline-block;
  text-align: center;
  width: 100%;
  min-height: 2.5em;
  font-size: 1em;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  outline: 0;
  padding: 0px 16px;
  background-color: #0095ff;
  color: #fff;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(0, 120, 212);
}

.NavButtonWhite {
  display: inline-block;
  text-align: center;
  width: 100%;
  min-height: 2.5em;
  font-size: 1em;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  outline: 0;
  cursor: pointer;
  padding: 0px 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid #0095ff;
}

.NavButtonWhite:hover {
  background-color: rgb(218, 215, 213);
  color: rgb(32, 31, 30);
}
#navMargin {
  position: fixed;
  top: 2.5em;
  width: 100%;
  height: 0.45em;
  background-color: #dddddd;
}

#contentBelowNav {
  margin-top: 2.5em;
}

/* Open Page */

.OpenPageOrder_container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.OpenButtonBlue {
  width: 100%;
  min-width: 21.1em;
  margin-top: 0.0625em;
  margin-bottom: 0.0625em;
  font-size: 1em;
  text-align: right;
  padding: 0.5em 0;
  background-color: #6cbbf3;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.OpenButtonBlue:hover {
  background-color: #9dd3fa;
  color: #000000;
}

/* Ready Page */

.ReadyPageOrder_container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.ReadyButtonGreen {
  width: 100%;
  min-width: 21.1em;
  margin-top: 0.0625em;
  margin-bottom: 0.0625em;
  font-size: 1em;
  text-align: right;
  padding: 0.5em 0;
  background-color: #1abe4b;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.ReadyButtonGreen:hover {
  background-color: #69df6d;
}

/* Div for buttons within container (does not effect Daysales page as the buttons are the only item) */
.button_div {
  flex-grow: 1;
}
.customer-order-items {
  display: inline-block;
  max-width: calc(100% - 60px);
  word-wrap: break-word;
}
.item {
  white-space: nowrap;
}

/* X Button */

.XButtonRed {
  min-width: 2em;
  max-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.0625em;
  margin-bottom: 0.0625em;
  font-size: 1em;
  padding: 0.5em 0;
  background-color: #e23939;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1;
  outline: none;
  text-decoration: none;
}

.XButtonRed:hover {
  background-color: #fa7070;
  color: #000000;
}

/* Daysales Page */

.DaySalesReadyOrder_container {
  display: flex;
  flex-direction: column;
}

.DaySalesReadyButtonGreen {
  width: 100%;
  margin-top: 0.0625em;
  margin-bottom: 0.0625em;
  font-size: 1em;
  text-align: right;
  padding: 0.5em 0;
  background-color: #1abe4b;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.DaySalesReadyButtonGreen:hover {
  background-color: #69df6d;
}

#CompletedOrdersTitle {
  text-align: center;
}

.DaySalesCompletedOrderContainer {
  display: flex;
  flex-direction: column;
}

.CompletedButtonWhite {
  width: 100%;
  margin-top: 0.0625em;
  margin-bottom: 0.0625em;
  font-size: 1em;
  text-align: right;
  padding: 0.5em 0;
  background-color: #b9b6b6;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.CompletedButtonWhite:hover {
  background-color: rgb(218, 215, 213);
}

#TotalOrdersSales_container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dddddd;
  padding: 20px;
}

#NumOrders {
  position: fixed;
  left: 2em;
  bottom: 10px;
  text-align: center;
}

#SumTotalSales {
  position: fixed;
  right: 2em;
  bottom: 10px;
  text-align: center;
}

/* Inventory Page*/
#daySalesOptionForms {
  position: fixed;
  top: 2.95em;
  left: 0;
  width: 100%;
  background-color: #dddddd;
}

#daySalesItemForms {
  margin-top: 5em;
}

#manageInventoryOptions {
  display: none;
}
#toggleButton {
}
#toggleButton.active:hover {
  background-color: #fa7070;
  color: #000000;
}
#toggleButton.active {
  background-color: #e23939;
  margin-top: 0.5em;
}

#UpdateInventory_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#NewItemName {
  flex-grow: 4;
  margin-right: 5px;
  box-sizing: border-box;
}

#NewItemName input {
  width: 100%;
  height: 2.4em;
  padding: 0.5em;
  box-sizing: border-box;
}

#UpdateInventoryQuanity {
  flex-grow: 1;
  margin-right: 5px;
  box-sizing: border-box;
  width: 8%;
}

#UpdateInventoryQuanity input {
  width: 100%;
  height: 2.4em;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

#UpdateInventoryCost {
  flex-grow: 1;
  margin-right: 5px;
  box-sizing: border-box;
  width: 8%;
}

#UpdateInventoryCost input {
  width: 100%;
  height: 2.4em;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

#UpdateInventorySubmitButton {
  box-sizing: border-box;
  min-width: 64px;
}

#UpdateInventorySubmitButton input[type="submit"] {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  box-sizing: border-box;
}

#updateCost_container {
  display: flex;
  width: 100%;
  margin-top: 0.5em;
}

#UpdateCostItemName {
  flex-grow: 2;
  margin-right: 5px;
}
#UpdateCostItemName select {
  height: 2.4em;
  width: 100%;
  background-color: white;
  color: grey;
  margin-right: 5px;
}

#UpdateInventoryCost {
}
#UpdateInventoryCost input {
}

#updateCostSubmitButton {
}

#removeInventory_container {
  display: flex;
  width: 100%;
}

#RemoveItemName {
  margin-top: 0.5em;
  flex-grow: 1;
}
#RemoveItemName select {
  height: 2.4em;
  width: 100%;
  background-color: white;
  color: grey;
}

#RemoveInventorySubmitButton {
  height: 2em;
  margin-top: 0.5em;
  margin-left: 0.25em;
}

#InventoryUpdateItemQtyTitle_container {
  display: flex;
  width: 100%;
  margin-top: 0.5em;
  font-size: 1.5em;
}

#InventoryUpdateItemQty_container {
  display: flex;
  width: 100%;
  margin-bottom: 0.75em;
}

#InventoryUpdateDescription {
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 5em;
  height: 1.175em;
  margin-right: 1.5em;
}
#InventoryUpdateDescription input {
  min-width: 5em;
  width: 100%;
  height: 1.175em;
  font-size: 1.4em;
  margin-right: 1.5em;
}

#InventoryUpdateQty {
  flex-grow: 1;
  box-sizing: border-box;
  max-width: 2em;
  height: 1.175em;
  margin-right: 1.5em;
}
#InventoryUpdateQty input {
  max-width: 2em;
  height: 1.175em;
  font-size: 1.4em;
  margin-right: 1.5em;
}

#MinusButton {
  margin-right: 0.1em;
}

#PlusButton {
}

#UpdateInventoryQtySubmitButton {
  margin-left: 1em;
  flex-grow: 1;
}

#insertLocation_container {
  display: flex;
  width: 100%;
}

#insertLocationName {
  flex-grow: 1;
  min-width: 13em;
  margin-right: 5px;
  margin-top: 0.5em;
}

#insertLocationName input {
  width: 100%;
  min-width: 13em;
  height: 2.4em;
  padding: 0.5em;
  box-sizing: border-box;
  margin-right: 5px;
}
#insertLocationArrival {
  width: 100%;
  margin-right: 5px;
  margin-top: 0.5em;
}
#insertLocationArrival input {
  width: 100%;
  height: 2.4em;
  padding: 0.5em;
  box-sizing: border-box;
  margin-right: 5px;
}

#insertLocationSubmitButton {
  min-width: 4em;
  margin-top: 0.5em;
}

#updateLocation_container {
  display: flex;
  width: 100%;
}

#updateLocationSelect {
  flex-grow: 1;
  min-width: 13em;
  margin-right: 5px;
  margin-top: 0.5em;
}
#updateLocationSelect select {
  width: 100%;
  min-width: 13em;
  height: 2.4em;
  margin-right: 5px;
  height: 2.4em;
  width: 100%;
  background-color: white;
  color: grey;
}

#updateLocationArrival {
  width: 100%;
  margin-right: 5px;
  margin-top: 0.5em;
}
#updateLocationArrival input {
  width: 100%;
  height: 2.4em;
  padding: 0.5em;
  box-sizing: border-box;
  margin-right: 5px;
}

#insertLocationSubmitButton {
}

#removeLocation_container {
  display: flex;
  width: 100%;
}
#removeLocationName {
  margin-top: 0.5em;
  flex-grow: 1;
}
#removeLocationName select {
  height: 2.4em;
  width: 100%;
  background-color: white;
  color: grey;
}
#removeLocationSubmitButton {
  height: 2em;
  margin-top: 0.5em;
  margin-left: 0.25em;
}

.SubmitButtonGreen {
  height: 2em;
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 0;
  background-color: #1abe4b;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.SubmitButtonGreen:hover {
  background-color: #69df6d;
  color: #000000;
}

.SubmitButtonRed {
  min-width: 4em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 0;
  background-color: #e23939;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.SubmitButtonRed:hover {
  background-color: #fa7070;
  color: #000000;
}

.MinusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 1em;
  height: 1em;
  background-color: #e23939;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}
.MinusButton:hover {
  background-color: #fa7070;
  color: #000000;
}
.PlusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 1em;
  height: 1em;
  background-color: #1abe4b;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}
.PlusButton:hover {
  background-color: #69df6d;
  color: #000000;
}

.UpdateButton {
  flex-grow: 1;
  max-width: 5em;
  min-width: 4em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 0;
  background-color: #6cbbf3;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.UpdateButton:hover {
  background-color: #9dd3fa;
  color: #000000;
}

/* Expanded Order Buttons */
#expandedOrderButtonSection2 {
  text-align: center;
}
.expandedButtonLocationName {
  display: inline-block;
  margin-right: 1em;
}
.expandedButtonOrderNumber {
  display: inline-block;
}
.expandedButtonCustomerName {
}
.expandedButtonTotal {
}
.expandedButtonCustomerNameLineBelow {
  width: 100%;
  border-bottom: solid 1px black;
}
.expandedButtonItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/* Customer Interface */
#chooseNameTitle {
  text-align: center;
  margin: 0;
  border-bottom: solid 1px black;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#chooseNameInput {
  text-align: center;
  width: 100%;
  margin-bottom: 0.75em;
}
#chooseNameInput input {
  text-align: center;
  width: 50%;
  margin-bottom: 0.75em;
}

#chooseLocationTitle {
  text-align: center;
  margin: 0;
  border-bottom: solid 1px black;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#chooseNameLocationSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15em;
}

.locationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

/* Hide the default radio button */
.locationButton input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.locationButton {
  display: inline-block;
  text-align: center;
  width: 50%;
  min-height: 2.5em;
  font-size: 1.15em;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  outline: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(50, 49, 48);
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid black;
  line-height: 2.5em;
  position: relative;
}

.locationButton:hover {
  background-color: rgb(218, 215, 213);
  color: rgb(32, 31, 30);
}

.locationButton.selected {
  background-color: #6cbbf3;
  color: black;
}

#orderItemsTitle {
  text-align: center;
  margin: 0;
  border-bottom: solid 1px black;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.itemPriceQtyTitle_container {
  display: flex;
}
.itemCustomerTitle {
  margin-left: 3.2em;
}
.priceCustomerTitle {
  margin-left: 3.4em;
}
.qtyCustomerTitle {
  margin-left: 1.1em;
}

.itemPriceQtyContainer {
  display: flex;
  margin-top: 0.5em;
}

.itemDescription {
  flex: 1;
  margin-right: 10px;
  min-width: 8em;
}

.itemPrice {
  flex: 1;
  margin-right: 20px;
  max-width: 1.5em;
}

.number-input {
  flex: 1;
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.number-input input[type="number"] {
  max-width: 2em;
  margin: 0;
  padding: 0;
  height: 2.1em;
  text-align: center;
  line-height: 2em;
  margin-right: 3px;
}

.number-input input[type="number"] {
  -moz-appearance: textfield;
}

.number-input input[type="number"]::-webkit-outer-spin-button,
.number-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.itemPriceQtySubmit {
  flex: 1;
  margin-right: 10px;
  flex-grow: 1;
}

.itemDescription input {
  width: 100%;
  height: 1.587em;
  font-size: 1em;
}

.itemPrice input {
  width: 100%;
  height: 1.587em;
  font-size: 1em;
}

.itemPriceQtySubmit input[type="submit"] {
  margin-top: auto;
  width: 100%;
}

/* itemPriceQtyContainer2 Starts here (The longer this goes on, the closer to project deadline, the worse the code gets, it might work but its not good, no no no, not good at all.)*/

.itemPriceQtyContainer2 {
  display: flex;
  margin-bottom: 0.2em;
}

.itemDescription2 {
  flex: 1;
  margin-right: 10px;
  min-width: 8em;
}

.itemPrice2 {
  flex: 1;
  margin-right: 20px;
  max-width: 1.5em;
}

.number-input2 {
  flex: 1;
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.number-input2 input[type="number"] {
  width: 2em;
  margin: 0;
  padding: 0;
  height: 2.1em;
  text-align: center;
  line-height: 2em;
  margin-right: 3px;
}

.number-input2 input[type="number"]::-webkit-outer-spin-button,
.number-input2 input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin button for Firefox */
.number-input2 input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide the spin button for other browsers */
.number-input2 input[type="number"] {
  appearance: textfield;
}

.itemPriceQtySubmit2 {
  flex: 1;
  margin-right: 10px;
  flex-grow: 1;
}

.itemDescription2 input {
  width: 100%;
  height: 1.587em;
  font-size: 1em;
}

.itemPrice2 input {
  width: 100%;
  height: 1.587em;
  font-size: 1em;
}

.itemPriceQtySubmit2 input[type="submit"] {
  margin-top: auto;
  width: 100%;
}

#cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.cartButton {
  min-width: 6em;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  text-align: center;
  background-color: #6cbbf3;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}

.cartButton:hover {
  background-color: #9dd3fa;
  color: #000000;
}

.cartBackButton {
  min-width: 2.5em;
  max-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 0.5em 0;
  background-color: #e23939;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1;
  outline: none;
  text-decoration: none;
}

.cartBackButton:hover {
  background-color: #fa7070;
  color: #000000;
}
.customerOrderUpdateButton {
  flex-grow: 1;
  min-width: 4em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 0;
  background-color: #6cbbf3;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  text-decoration: none;
}
.customerOrderUpdateButton:hover {
  background-color: #9dd3fa;
  color: #000000;
}

/* Cart Page*/
#cartTitle_container {
  display: flex;
  width: 100%;
  border-bottom: solid 1px black;
}
#cartBackButton {
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-left: 0.75em;
  margin-top: 0.25em;
  margin-right: 3em;
}
#cartTitle {
  font-size: 3em;
}

/* iPad iPadOS 14.7.1*/
@media only screen and (max-width: 810px) {
  #InventoryUpdateItemQtyTitle_item {
    width: 453.333px;
    text-align: left;
    margin-left: 0.4em;
  }

  #InventoryUpdateItemQtyTitle_qty {
    width: 52.8px;
    text-align: center;
  }
}

/* iPhone 11 Pro IOS 14.6*/
@media only screen and (max-width: 375px) {
  #UpdateCostItemName {
    flex-grow: 1;
    max-width: 14em;
  }

  #InventoryUpdateItemQtyTitle_item {
    width: 157.4px;
    text-align: left;
    margin-right: 0.2em;
  }

  #InventoryUpdateItemQtyTitle_qty {
    width: 52.8px;
    text-align: center;
  }
}
